* {
  margin: 0;
  padding: 0;
}

body {
  margin: 100px;
  padding: 40px;
  width: 700px;
  border: 1px solid #c2c1c1;
  box-shadow: 3px 3px 0px 8px rgba(202 202 245 / 20%);
}

form {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

form p,
form label.bold {
  font-weight: bold;
}

/* Random flex section */
.flex {
  display: flex;
}

.gap10 {
  gap: 10px;
}

.gap20 {
  gap: 20px;
}

.gap-btn {
  gap: 401px;
}
/* Style  */
.select {
  display: inline-block;
}

.col-1 input {
  width: 226px;
}

.col-2 select {
  width: 96px;
}

.col-3 select {
  width: 382px;
}

.col-full input,
.col-full textarea {
  width: 100%;
}

.col-half input,
.col-half select {
  width: 340px;
}

input,
select {
  height: 30px;
  margin: 5px 0;
}

.flex > div {
  margin-bottom: 25px;
}

.m-b-25 {
  margin-bottom: 25px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-t-15 {
  margin-top: 15px;
}

input::placeholder,
textarea::placeholder {
  color: rgb(163, 162, 162);
}

input,
textarea {
  padding: 5px;
}

textarea {
  display: block;
  resize: vertical;
  height: 200px;
}

label.margin {
  display: block;
  margin-bottom: 7px;
}

button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  white-space: nowrap;
}

button:hover {
  background: darkgreen;
}
